# **01 打印**
*  基本打印輸出 `print(value, ... , sep="", end = "\n")`
  * **value**：表示想要輸出的資料，可以多筆資料輸出，並以逗號隔開
  * **sep**：放多個字串，預設會使用空白串成一行。可透過變更分隔符號，改變打印方式
  * **end**：當資料輸出結束時所插入的字元，預設式插入換行字元
*  格式化打印輸出 `print("輸出格式區" %(變數系列區))`
  * **%d**：整數
  * **%f**：浮點數
  * **%s**：字串
  * **%e**：科學記號
* 增強格式化打印輸出 `print("輸出格式區" .format(變數系列區))`
  * 可透過編號改變順序
* 不用迴圈式來打印出重複字串

In [18]:
#打印
print("Hello! Python")

Hello! Python

In [19]:
#字串連接
print('A', 'B', 'C')

A B C

In [20]:
#更改分隔符號
print('A', 'B', 'C', sep = '/')
print('A', 'B', 'C', sep = '\n')

A/B/C
A
B
C

In [21]:
#格式化打印
print('我是{:s}，我的年齡是{:d}歲' .format('小明', 18))
print('我的身高是%0.1f公分，體重是%0.2f公斤' %(175.86, 68.65))
print('我的興趣是{0}、{2}和{1}' .format("打程式", "玩遊戲", "閱讀"))

我是小明，我的年齡是18歲
我的身高是175.9公分，體重是68.65公斤
我的興趣是打程式、閱讀和玩遊戲

In [22]:
#重複打印
text = "我喜歡打程式 \t" * 5
print(text)

我喜歡打程式 	我喜歡打程式 	我喜歡打程式 	我喜歡打程式 	我喜歡打程式

-----
# **02 註解**
* 「#」 可作註解，該行後面不會顯示
* 「'''」　三個單引號可作註解，中間的不會顯示
* 「"""」　三個雙引號可作註解，中間的不會顯示

In [23]:
#註解
#print("我不會打印出來，因為我是註解")

#三個雙引號當註解
"""print("我不會打印出來，因為我是註解")
"""

#三個單引號當註解
'''
print("我不會打印出來，因為我是註解")
'''

print("我沒有註解")

我沒有註解

------
# **03 變數的命名原則**


=====================================================
# **03-1 Python 系統保留字**

![GITHUB](https://github.com/j82887/Artificial-Intelligence/blob/master/00_Image/Python%20Reserved%20Word.png?raw=true)


=====================================================
# **03-2 Python 系統內建函數**

![GITHUB](https://github.com/j82887/Artificial-Intelligence/blob/master/00_Image/Python%20Built-in%20System%20Functions.png?raw=true)

----------
# **04 基本數學運算**
* 加、減、乘 與 除
* 餘數 和 整除
* 次方
* 指派運算子
* 等號多重指定使用
* 刪除變數

In [24]:
# 加、減、乘 與 除
a = 10
b = 3
print("加：", a+b)
print("減：", a-b)
print("乘：", a*b)
print("除：", a/b)

# 餘數 和 整除
print("餘數：", a%b)
print("整除：", a//b)

# 次方
print("次方：", a ** b)

加： 13
減： 7
乘： 30
除： 3.3333333333333335
餘數： 1
整除： 3
次方： 1000

In [25]:
# 等號多重指定 與 指派運算子
a1 = a2 = a3 = a4 = a5 = a6 = a 
a1 += 2
print("加等於：", a1)
a2 -= 2
print("減等於：", a2)
a3 *= 2
print("乘等於：", a3)
a4 /= 2
print("除等於：", a4)
a5 //= 2
print("整除等於：", a5)
a6 **= 2
print("次方等於：", a6)

加等於： 12
減等於： 8
乘等於： 20
除等於： 5.0
整除等於： 5
次方等於： 100

In [26]:
# 刪除變數
del a6
#print(a6) #無法打印

---------
# **05 基本的資料型態**
* 數值資料型態
  * 整數
  * 浮點數
  * 複數 (不常用)
* 布林值資料型態
* 文字序列型態
* 字元組 (不常用)
* 序列型態 (後面介紹)
* 對映型態 (後面介紹)
* 集合型態 (後面介紹)

**Python 中不相同資料型態間，部分也可以執行運算，例如：整數與浮點數之間**

In [27]:
#數值資料型態
a = 10
b = 0.5
print(type(a))
print(type(b))

#強制資料型態的轉換
b = int(b)
print(type(b))
print(b)
b = str(b)
print(type(b))

#數值運算常用的函數
print(abs(-2))           #絕對值
print(pow(2,3))          #次方
print(round(4.7777,1))   #四捨五入
print(round(6.2222,3))

<class 'int'>
<class 'float'>
<class 'int'>
0
<class 'str'>
2
8
4.8
6.222

In [28]:
#布林值資料型態
a = False
b = True
print(b)
print(type(b))
print(a+b)
print(type(a+b))

True
<class 'bool'>
1
<class 'int'>

In [29]:
#字串資料型態 
# a = 'I'm Peter'     #字串出現單引號有問題
a = "I'm Peter."      #字串出現單引號，使用雙引號
print(a)
a = 'I\'m Peter'      #字串出現單引號，使用逸出字元
print(a)
b = "I love Python." 
c = a+"\t"+b          #字串透過加號來串成新字串
print(c)
d = r"123\n321"       #使用r防止逸出字元被轉譯
print(d)

I'm Peter.
I'm Peter
I'm Peter	I love Python.
123\n321

In [30]:
# ASCII碼
e = 97
print(chr(e))
e -= 32
print(chr(e))

a
A

---
# **06 輸出資料/打開檔案**

=====================================================
## **06-1 開啟檔案**
`file_Obj = open(file, mode="r")`
* **file**：用字串列出域開啟的檔案
* **mode**：開啟檔案的模式
  * 第一個字母操作意義 
    * r 是預設，開啟檔案供讀取
    * w 開啟檔案供寫入，如果原先檔案有內容將被覆蓋
    * a 開啟檔案工寫入，如果原先檔案有內容，新寫入資料將附加在後面
    * x 開啟一個新的檔案供寫入，如果所開啟的檔案已經存在會產生錯誤
  * 第二個字母操作意義
    * b 開啟二進位檔案模式
    * t 是預測，開啟文字檔案模式
* **file_Obj**：不使用要正常關閉，要使用`file_Obj.close()`

=====================================================
## **06-2 資料輸入**
`value = input("prompt:")`
* **value**：是變數，所輸入的資料會儲存在此變數內，不管回傳的資料是何種型態，回傳至value時皆為字串資料，如果要執行數學運算要用強制轉換等方式
`result = eval(expression)`
* **eval**：可以回傳字串內數學表達式的計算結果，expression必須為字串

In [31]:
#開啟檔案，並寫入
text1 = open("text_1.txt", mode="wt")
print("Python", file=text1)
text1.close

text2 = open("text_1.txt", mode="at")
print("C++", file=text2)
text2.close

In [32]:
#資料輸入
name = input("請輸入姓名：")
h = input("請輸入身高：")
w = input("請輸入體重：")
print("我是%s，身高是%s公分，體重是%s公斤" %(name, h, w))
print("資料型態是%s, %s, %s" %(type(name), type(h), type(w)))
bmi = float(w)/((float(h)/100)**2)
print("我的BMI是%0.2f" %(bmi))

請輸入姓名：小明
請輸入身高：168.5
請輸入體重：62.2
我是小明，身高是168.5公分，體重是62.2公斤
資料型態是<class 'str'>, <class 'str'>, <class 'str'>
我的BMI是21.91

In [33]:
#資料輸入
eq_str = input("請輸入公式：")
eq = eval(eq_str)
print("計算結果為：%0.2f" %(eq))

請輸入公式：2.14*5+10
計算結果為：20.70

---
# **07 運算子**

=====================================================
# **07-1 關係運算子**

![GITHUB](https://github.com/j82887/Artificial-Intelligence/blob/master/00_Image/Relational%20Operator.png?raw=true)

=====================================================
# **07-2 關係運算子**
* and
* or 
* not

In [34]:
a = 2
print(a > 3)
print(a == 2)
print(a != "2")
print(str(a) == "2")

b = (4>2) and (-1>-5)
print(b)

c = not(2>1)
print(c)

False
True
True
True
True
False

----------
# **08 流程控制**
* if
* if else
* if elif else
* 巢狀 if

In [35]:
if(True):
  print("程式執行了!")

程式執行了!

In [36]:
year = input("請輸入年齡：")
if(int(year)<20):
  print("你年齡太小，需要年滿20歲才能購買菸酒")
else:
  print("歡迎購買菸酒")

請輸入年齡：18
你年齡太小，需要年滿20歲才能購買菸酒

In [37]:
year_name = ["未成年","青年人","老年人"]
year = int(input("請輸入年齡："))
if(0<year<18):
  print("你是", year_name[0])
elif(18<=year<65):
  print("你是", year_name[1])
elif(65<=year<150):
  print("你是", year_name[2])
else:
  print("你不是人!")

請輸入年齡：100
你是 老年人

--------
# **09 列表(list)**
* 切片
* 索引
* 統計資料
  * 最大值
  * 最小值
  * 總和
  * 個數
* 更改列表元素
* 刪除列表元素
* 列表多重指定
* 增加、插入與刪除列表的元素
* 列表的排序
* 列表內特定元素出現的次數

In [38]:
fruits = ['蘋果', '香蕉', '橘子']
print(fruits)
print(fruits[0])

#索引與切片
number = [0,1,2,3,4,5,6,7,8,9,10]
matrix = [[0,1,2],[3,4,5],[6,7,8]]

print(number[2:5])
print(number[:3])
print(number[:-3])
print(number[7:])
print(number[-7:])
print(number[-1])

print(matrix[0][2])
print(matrix[1][1:])
print(matrix[-1][-1])

print(matrix.index([0,1,2]))

['蘋果', '香蕉', '橘子']
蘋果
[2, 3, 4]
[0, 1, 2]
[0, 1, 2, 3, 4, 5, 6, 7]
[7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10]
10
2
[4, 5]
8
0

In [39]:
#統計資料
a = [1,2,3]
print(min(a))
print(max(a))
print(sum(a))
print(len(a))

1
3
6
3

In [40]:
#更改列表元素
a[0] = 4
print(a)

[4, 2, 3]

In [41]:
#刪除列表元素
del a[1]
print(a)

[4, 3]

In [42]:
#多重指定
a, *b, c = 1,2,3,4,5,6
print(a,b,c)

1 [2, 3, 4, 5] 6

In [43]:
#增加與刪除列表的元素
b = [3,4,5]
c = [1,1,1]
print(b+c)

c2 = [2]
c2.extend(c)
print(c2)

c.append(2)
print(c)

b.insert(1,3.5)
print(b)

d1, d2 = [1,2,3,4], [1,2,3,4]
print(d1.pop())
print(d1)
print(d2.pop(2))
print(d2)

[3, 4, 5, 1, 1, 1]
[2, 1, 1, 1]
[1, 1, 1, 2]
[3, 3.5, 4, 5]
4
[1, 2, 3]
3
[1, 2, 4]

In [44]:
#列表的排序
e1, e2 = [3,1,2,5,4], [3,1,2,5,4]
e1.sort()
e2.reverse()
print(e1)
print(e2)

[1, 2, 3, 4, 5]
[4, 5, 2, 1, 3]

In [45]:
#列表內特定元素出現的次數
f = [0,0,1,0,1]
print(f.count(0))

3

----------
# 07 迴圈設計
=====================================================

## 07-1 for迴圈
* `for var in 可迭代物件：`
         `程式區塊`
  * 可迭代物件可以式串列、元組、字典、集合或range()，上述與法可將可迭代物件的元素當作var重複執行，直到每個元素皆被執行一次，整個迴圈才會停止

* `range(start, stop, step)`
  * range()函數可以產生一等差級序列，常用於for迴圈的計數器

* 列表生成之應用
* enumerate物件
  * 可以讓索引值與元素值配對出現
* 巢狀for迴圈
* 強制離開for迴圈指令：break
* for迴圈不往下執行，跳至下一次迴圈中：continue

=====================================================
## 07-2 while迴圈
* `while 條件運算：`
         `程式區塊`
* 巢狀while迴圈  
* 強制離開while迴圈指令：break
* while迴圈不往下執行，跳至下一次迴圈中：continue

In [46]:
#基本for迴圈
a = [1,2,3,4]
for i in a:
  i += i
print(i)

for i in a[1:]:
  print(i)

8
2
3
4

In [47]:
#基本for迴圈
name = [[26,'Tim',],[66,'Peter'],[30,'Tom'],[18,'Tiny']]
young_name = []
for y, n in name:
  if (20<=y<65):
    young_name.append(n)
print(young_name)

['Tim', 'Tom']

In [48]:
#range
for i in range(5):
  print(i,end=" ")
print()

for i in range(0,10,2):
  print(i,end=" ")
print()

0 1 2 3 4
0 2 4 6 8

In [49]:
#list
save_number = []
for i in range(0,10,1):
  save_number.append(i)
print(save_number)

save_number = list(range(0,10,1))
print(save_number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
#enumerate
alphabet = ['A','B','C','D']
for alp in enumerate(alphabet):
  print(alp)

for index, alp in enumerate(alphabet):
  print(index, alp)

for index, alp in enumerate(alphabet,10):
  print(index, alp)

(0, 'A')
(1, 'B')
(2, 'C')
(3, 'D')
0 A
1 B
2 C
3 D
10 A
11 B
12 C
13 D

In [51]:
#break
for i in range(20):
  if (i>8):
    break
  print(i,end=' ')
print()

0 1 2 3 4 5 6 7 8

In [52]:
#continue
score_name = [['Kint',100],['Peter',60],['Sam', 45],['Tom', 59],['Tim',70]]
good = 0
save_name = []
for name, score in score_name:
  if score < 60:
    continue 
  good += 1
  save_name.append(name)
print("及格有%d個人，名字為：%s" %(good,save_name))

及格有3個人，名字為：['Kint', 'Peter', 'Tim']

In [53]:
#while
a = 0
while a<10:
  a += 1
  print(a,end=' ')

1 2 3 4 5 6 7 8 9 10

# 08 元組(Tuple)
`tuple=(元素1, ..., 元素n)`

* 與列表類似，最大差異是元素值與元素個數不可更動，不可以再給予賦值
* 列表與元組資料互換
* 使用zip打包多個物件

### **優點**
* 可以更安全保護資料
* 加快程式執行速度，占用較少的系統資源

In [54]:
number = (1,2,3,4,5)
print(type(number))

#快速建立元組的方法
alphabet = 'A', 'B', 'C'
print(alphabet)

<class 'tuple'>
('A', 'B', 'C')

In [55]:
#修改元組內容產生錯誤
#number[0] = 1

In [56]:
#元組切片(與列表相同)
number = (0,1,2,3,4,5,6,7,8,9,10)
matrix = ((0,1,2),(3,4,5),(6,7,8))

print(number[2:5])
print(number[:3])
print(number[:-3])
print(number[7:])
print(number[-7:])
print(number[-1])

print(matrix[0][2])
print(matrix[1][1:])
print(matrix[-1][-1])

(2, 3, 4)
(0, 1, 2)
(0, 1, 2, 3, 4, 5, 6, 7)
(7, 8, 9, 10)
(4, 5, 6, 7, 8, 9, 10)
10
2
(4, 5)
8

In [57]:
#列表與元組資料互換
number = list(number)
print(number)
number = tuple(number)
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [58]:
#zip打包多個物件
year = (20, 18, 30, 42, 25)
name = ('Kint','Peter','Sam','Tom','Tim')
zipdata = zip(year, name)
print(type(zipdata))
print(list(zipdata))

for i in zip(year, name):
  print("年齡：%d, 姓名：%s" %(i[0],i[1]))

<class 'zip'>
[(20, 'Kint'), (18, 'Peter'), (30, 'Sam'), (42, 'Tom'), (25, 'Tim')]
年齡：20, 姓名：Kint
年齡：18, 姓名：Peter
年齡：30, 姓名：Sam
年齡：42, 姓名：Tom
年齡：25, 姓名：Tim

# 09 字典(Dict)

* 定義字典：
  * 字典是一個非序列的資料結構，元素以"鍵(key):值(value)"方式配對儲存

   `dict={key1:value1, ..., key2:value2}`

  * key通常以字串或數字當作是鍵，在一個字典中不可有重複的key出現。value則可以任何python的資料物件

* 基本操作
  * 列出/讀取
  * 增加字典元素
  * 更改字典元素內容
  * 刪除字典的key與元素
  * 字典拷貝
  * 驗證key是否存在
  * 合併字典
  * 列表轉為字典
    * 雙值列表序列轉換
    * fromkeys()
  * 搜尋鍵，返回值：get()

# 11 函數(Function)
* 函數設計
* 單個參數與多個參數
* 關鍵字參數(參數名稱=值)
* 參數預設值
* 傳回值
* 全域變數與區域變數

# 12 類別(Class)